__pycache__/app.cpython-310.pyc
__pycache__/compute_crop_radius.cpython-310.pyc
__pycache__/compute_crop_radius.cpython-312.pyc
__pycache__/main.cpython-310.pyc
__pycache__/main.cpython-312.pyc
config/__pycache__/config.cpython-310.pyc
Nishant_org.mp4
Nishant_org.wav
A1.mp3
A1.wav
temp_hindi_ElevenLabs_2024-06-20T06_19_57_Daniel.mp3
temp_Nishant_org.mp4
temp_Nishant_org.wav
LICENSE
inference_result/LipSick_Blend.mp4
inference_result/LipSick_Blend(1).mp4
models/shape_predictor_68_face_landmarks.dat
asserts/output_graph.pb
asserts/pretrained_lipsick.pth
__pycache__/
experiments/pretrained_models/GFPGANv1.4.pth
gfpgan/weights/detection_Resnet50_Final.pth
gfpgan/weights/parsing_parsenet.pth
test.py
